/* Theme overrides */

.no-col-padding {
    padding: 0;
}

.newsreader-portlet-toolbar {
    border-bottom: 1px solid @color1-light;
    margin: 0 0 10px 0;
    height: 100%;
    .nav-links {
        height: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: right;
    }
}

.newsreader-content {
    border: none;
    background: @white;

    .news-feeds-container {
        border: none;
        background: @white;
    }

    .news-stories-container {
        border: 1px solid @grayE;

    }
}

    // Removing jQueryUI Styles

.ui-corner-all {
    .rounded(0);
}

.announcements-container {


    .announcements-table {
        thead {
            text-align: center;
            background-color: @color1-lighter;
        }
        .action-icon-table {
            width: 100%;
            .action-icon {
                padding: 6px;
            }

        }
    }

    .approval-count {
        background-color: @color1;
        border: @color1-darker 1px solid;
        color: @white;
        padding: 0 4px;
    }

    form {
        input[type="text"], input[type="password"], textarea {
            width: 100%;
        }
        .announcements-error {
            margin-top: 10px;
            display: block;
            text-align: left;
            padding: .5em .8em;
            font-size: 85%;
        }
        .mceLayout {
            border: 1px solid #ccc !important;
        }
        .attachments-container {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .ann-display-item-summary, .ann-display-item-full {
        margin-bottom: 10px;
        .ann-item-header {
            font-weight: bold;
            height: 100%;
            display: block;
            .ann-item-topic {
                float: left;
            }
            .ann-item-date {
                text-align: right;
            }
        }
        h1 {
            font-size: 135%;
            margin-top: 6px;
            margin-bottom: 3px;
            border-bottom: none;
        }
    }

    .ann-display-item-summary {
        border-bottom: 1px solid #eee;
    }
    .announcement-list-nav {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .permissions-group-padding {
        padding: 3px;
    }

    .permissions-group-container {
        width: 25%;
        padding: 5px;
        border: 1px solid #eee;
    }

    .announcements-scrolling {
        overflow: auto;

        .row {
            margin: 0;
        }
    }


}

